@font-face {
	font-family: 'Ubuntu';
	src: url('../../assets/fonst/Ubuntu.eot');
	src: local('☺'), url('../../assets/fonst/Ubuntu.woff') format('woff'), 
	url('../../assets/fonst/Ubuntu.ttf') format('truetype'), 
	url('../../assets/fonst/Ubuntu.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}