.header {
    background-color: #232C2F;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.authGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-left: 20px;
}


.authBtn > a {
	text-decoration: none;
	color: white
}

.authBtn:hover {
    background-color: cornflowerblue;
}