@import "../../sass/base/fonts";
@import "../../sass/abstracts/variable/variable";
@import "../../sass/abstracts/mixins/mixins";
@import "../../sass/abstracts/elements/elements";

.Label{
	display: block;
	margin-bottom: 10px;

	&__row{
		width: 100%;
		text-align: center;
	}

	&__text{
		@include font(20px,'Ubuntu',$main_color,center);
		@include neostyle(rgb(10, 255, 255));
	}

	&__input{
		@include wh(80%,40px);
	
		@include font(18px,'Ubuntu',$main_color);
		@include neostyle(rgb(10, 255, 255));
		text-indent: 25px;
		letter-spacing: 2.8px;

		background-color: rgba(100, 98, 98, 0.5);
		box-shadow: none;
		border-radius: 5px;
		border: none;
	}
	&__rowCheckbox{
		display: flex;
	}
	
}

.error{
	margin-top: 10px;

	@include font(14px,'Ubuntu',red,center);
	text-shadow: 0 0 3px red;
}
