@import "../../sass/base/fonts";
@import "../../sass/abstracts/variable/variable";
@import "../../sass/abstracts/mixins/mixins";
@import "../../sass/abstracts/elements/elements";

.modal{
	height: 100%;
	@extend %flexCenter;
	@extend %pos-rel;

	&__img{
		@include wh(100%,100%);

		@extend %pos-abs;
	
		object-fit: cover;
		object-position: center;
		filter: blur(4px);
	}

	&__body{
		max-width: 400px;
		width: 100%;
		padding: 10px;
		z-index: 100;
		border-radius: 15px;
		background-color: rgba(35, 26, 44, 0.5);
	}

	&__title{
		margin: 50px 0 25px 0;

		@include font(30px,'Ubuntu',$main_color,center);
		@include neostyle();
		letter-spacing: 3.8px;

		text-transform: uppercase;
	}

	&__form{
		display: flex;
		flex-direction: column;
	}

}


