@import "../../sass/base/fonts";
@import "../../sass/abstracts/variable/variable";
@import "../../sass/abstracts/mixins/mixins";
@import "../../sass/abstracts/elements/elements";

.modal{
	height: 100%;
	@extend %flexCenter;
	@extend %pos-rel;
}

.modal__img{
	@include wh(100%,100%);

	@extend %pos-abs;

	object-fit: cover;
	object-position: center;
	filter: blur(5px);
}

.modal__body{
	max-width: 400px;
	width: 100%;
	padding: 10px;
	border: 1px solid rgb(255, 255, 255);
	z-index: 100;
}

.modal__title{
	margin: 50px 0;
	font-size: 25px;
	font-family: "Ubuntu";
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.modal__form{
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(255, 255, 255);
}

.btnsGroup{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.btn{
	background-color: tomato;
	padding: 10px 15px;
	border: none;
	border-radius: 7px;
	font-family: "Ubuntu";
	color: $main_color;
	cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}