.layout {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    letter-spacing: 25px;
}

/*вводимый текст, поле ввода, поле результатов*/
.code_field {
    display: grid;
}

.keyboard_field {
}