.menu {
    height: 100vh;
    background-color: #8a5d98;
    color: #ffffff;

    &__title {
        font-size: 25px;
        text-align: center;
    }
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
}



.link_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.link {
    text-decoration: none;
    color: #fffefe;
}

.link_container:hover {
    background-color: #1e9c96;
}

.activeLink {
    color: darkorange;
}